body{
	font-family: Verdana, Geneva, sans-serif;
}

nav {
	background-color: #f5f5f5;
	height:100%;
	width: 100%;
}

nav ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	position: relative;
	float: right;
}

nav ul a{
	padding: 20px;
	margin: 0px;
	color: black;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

ul li a:hover{
	text-decoration: none;
	background: lightgray;
	color: black;
}

.navbar {
	padding: 0px;
	border-bottom: solid 2px black;
}

.navbar-header{
	border-bottom: solid 2px black;
}

#navMenu {
	width: 100%;
}

.navbar-brand{
	color:black;
	font-size: 30px;
}

.navbar-collapse {
	flex-basis: 0%;
}

.dropdownMenu{
	background: #f5f5f5;
	font-size:24px;
	padding: 0.6em;
	cursor: pointer;
	display: none;
}

nav button {
	display: none;
}

#myNavbar {
	display: block;
}

@media screen and (max-width: 500px) {
	

	.navbar-toggle{
		display: block;
		float: right;
		margin-right: 30px;
		margin-bottom: 15px;
	}

	div button {
		width: 30px;
		height: 30px;
	}


	.nav a{
		float: left;
		text-align: left;
		margin: 10px;
		padding: 0;
	}

	.navbar-collapse ul{
		display: none;
	}

	.show ul{
		display: block;
		float: left;
		margin: 0;
		padding: 0;
	}

	#myNavbar {
		font-size: 12px;
		margin: 0;
		padding: 0;
	}

	.navbar-header{
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.nav{
		position: static;
		background:#f5f5f5;
	}

	.dropdownMenu{
		display: block;
	}


	.jumbotron img{
		width:100%;
		height: 300px;
	}

	.navbar-brand {
		font-size: 20px;
		padding: 10px;
		margin: 0;
	}

	#icon {
		height: 15px;
		width: 15px;
		display: inline-block;
		float: right;
	}

	#footer p {
		font-size: 16px;
	}

	#footer h6{
		font-size: 20px;
	}

	iframe {
		width: 100%;
	}

	.weld{
		width: 100%;
		height: 100%;
	}

	#headerAdd {
		display:none;
	}

	#mobileHours {
		display: inline;
	}

	form{
		margin: 15px;
	}

	#aboutUs p{
	font-size: 12px;
	padding: 15px;
	}

	#homepage{
		padding: 15px;
	}

}

#headerHours{
	display: none;
}

#header{
	background-color: black;
	padding:20px;
	margin:0px;
	text-align: center;
}

#header h1 {
	font-size: 18px;
	display: inline;
	color: white;
}


.jumbotron{
	border-bottom: solid 15px black;
	padding: 0px;
	margin: 0px;
}

.jumbotron img{
		width: 100%;
	}

#homePage {
	text-align: center;
	padding: 20px;
	line-height: 2em;
	font-size: 20px;
}

#homePage h1{
	padding-bottom: 100px;
	padding-top: 100px;

}

.weld {
	width: 75%;
	height: 75%;
	padding: 20px;
	margin-top: 75px;
}

.art {
	width: 75%;
	height: 75%;
	padding: 20px;
	margin-top: 100px;
}


#homePage p {
	font-size: 14px;
}

#footer {
	border-top: solid 15px black;
	background-color: #f5f5f5;
	padding: 50px;
	line-height: 2em;
	font-size: 24px;
	text-align: center;
}

#footer h6 {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 28px;
}


#scrapDes {
	padding:25px;
	text-align: center;
}

.index-form {
	width: 100%;
	background-color: #fff;
	padding-top: 60px;
	padding-bottom: 60px;
}

.col-sm-4 h3 {
	text-align: center;
	padding: 30px; 
}

#aboutUs{
	text-align: center;
	line-height: 2em;
}

#aboutUs h3{
	padding: 25px;
}


#article {
	padding: 20px;
	margin-top: 25px;
	height: 80%;
	width: 100%;
}

#phone{
	width: 80%;
	height: 80%;
	padding: 15px;
	margin-left: 40px;
}

#stores {
	padding-top: 50px;
	text-align: center;
	margin: 5px;
	padding-bottom: 50px;
	line-height: 2em;
}

#soflo {
	height: 100%;
	width: 100%;
	padding: 20px;
	margin: 5px;
}
