nav {
	margin: 0px;
	background-color: #f5f5f5;
	height:100%;
	width: 100%;
}

.nav a{
	padding: 0px;
	margin: 0px;
	color: black;
	display: block;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
}

.row{
	width: 100%;
}

.navbar-brand{
	color:black;
	font-size: 30px;
}

#dropdownMenu {
	font-size: 24px;
}


#header{
	background-color: black;
	text-align: center;
	padding:20px;
	margin:0px;
}

#header h1 {
	font-size: 24px;
	display: inline;
	padding: 10px;
	color: white;
}


.jumbotron{
	border-bottom: solid 15px black;
	padding: 0px;
	margin: 0px;
}

.jumbotron img{
	width:100%;
}

#homePage {
	text-align: center;
	margin: 10px;
	padding: 20px;
	line-height: 2em;
	font-size: 24px;
}

#homePage h1{
	padding-bottom: 100px;
	padding-top: 100px;

}

#homePage p {
	font-size: 18px;
}

#footer {
	border-top: solid 15px black;
	background-color: #f5f5f5;
	padding: 50px;
	line-height: 2em;
	font-size: 24px;

}

#footer h6 {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 28px;
}


#scrapDes {
	padding:25px;
	text-align: center;
}

.index-form {
	width: 100%;
	background-color: #fff;
	padding-top: 60px;
	padding-bottom: 60px;
}

.col-sm-4 h3 {
	text-align: center;
	padding: 50px 75px; 
}

#aboutUs{
	text-align: center;
	padding-top: 100px;
	line-height: 2em;
}

#aboutUs h3{
	padding: 25px;
}

#article {
	padding: 20px;
	margin: 5px;
	height: 100%;
	width: 100%;
}

#phone{
	width: 80%;
	height: 80%;
	padding: 10px 75px;
}

#stores {
	padding-top: 50px;
	text-align: center;
	margin: 5px;
	padding-bottom: 50px;
	line-height: 2em;
}

#soflo {
	height: 100%;
	width: 100%;
	padding: 20px;
	margin: 5px;
}
